*{margin: 0;
padding: 0;
box-sizing:border-box;
font-family: sans-serif;
color:white;
}
html,
body{
  height: 100vh;
  width:100vw;
  background-color: black;
}
h1{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  white-space:nowrap;
  text-decoration: underline;
}
.nav{
  background-color: rgb(5, 134, 134);
  display:flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.nav div{
  display: flex;
  align-items: center;
  gap:40px;
}